.sections-container {
    overflow: hidden;
}

.sections {
    transition: transform 0.3s ease-in-out;
}

.in-route-home {
    transform: translateX(0);
}

.in-route-d110 {
    transform: translateX(-100%);
}

.in-route-d111 {
    transform: translateX(-200%);
}

.in-route-d1130 {
    transform: translateX(-300%);
}

.in-route-d1315 {
    transform: translateX(-400%);
}

.in-route-d1445 {
    transform: translateX(-500%);
}

.in-route-d210 {
    transform: translateX(-600%);
}

.in-route-d21030 {
    transform: translateX(-700%);
}

.in-route-d21130 {
    transform: translateX(-800%);
}

.in-route-d212 {
    transform: translateX(-900%);
}